@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: "Poppins";
}

html,
body {
  overflow-x: hidden;
  font-family: "Poppins";
}
a {
  text-decoration: none;
}
.css-kr8qto {
  display: none;
}

/*Styling Selectbox*/
select {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}

.dropDowns input{
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
  padding: 12px 5px;
  border: 1px solid #474747;
  outline: none;
}

.dropDowns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 2rem;
}

#root > div > header > div > div.MuiBox-root.css-1oamlbf > div.MuiBox-root.css-1b1knv > button > span{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 30px !important;
}

#bet_company, #percentFilter{
    border: 1px solid #808080;
    padding: 10px 3px;
    outline: none;
}

.userAndBalance{
  display: flex;
  align-items: center;
  gap: 10px;
}

.userAndBalance p{
  margin: 0;
}

.matchCard{
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  margin-top: 30px;

}

.clubCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bettingPlatformCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 10px;
  /* margin-bottom: 10px; */
}

.bettingPlatformCard span{
  margin-left: 1rem;
}

.table>:not(caption)>*>*{
  border-bottom-width: 0;
  /* padding: 0 0.5rem; */
}


.table>:not(caption)>*>*:hover{
  background-color: none;
}

.clubCard p{
  margin: 0;
}

.clubLogoAndBetCompany{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.singleClub{
  text-align: center;
}

.singleClub img{
  width: 15%;
  margin-bottom: 5px;
}

.singleClub p{
  font-size: 14px;
}

.betPatform{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.time{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.time p{
  font-size: 14px;
}

.fa-calculator{
  font-size: 20px;
}

.subscription{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
}

.subscription img{
  width: 50px !important;
}

.makePayment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  padding: 3rem;
  border-radius: 10px;
}

.qrCode{
  padding: 1.5rem;
}

.addressAndCopy{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #344767;
  padding-right: 5px;
}

.addressAndCopy input{
  outline: none;
  padding: 5px 10px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #344767;
}

.addressAndCopy i{
  cursor: pointer;
  padding-right: 4px;
}

.makePaymentBottomText{
  margin-top: 30px;
}

.paymentPage{
  width: 100%;
  height: 100vh;
  position: relative;
}

.subscriptionPlans{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #9a9a9a;
  padding: 1.8rem 0;
  margin: 2rem 0;
  border-radius: 7px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
}

.second{
  border: 1px solid #217EFE;
}

.third{
  border: 1px solid #5829e8;
}

.subscriptionPlans h3{
  font-size: 20px;
}

.priceAndDuration{
  margin: 3rem 0;
}

.priceAndDuration h2{
  font-size: 60px;
  font-weight: bold;
}

.subscriptionPlans button{
  all: unset;
  width: 50%;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  padding: 7px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.playingTeamOpportunity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #808080;
  margin-top: 10px;
}

.teamLogoAndOdd, .displayTime{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamLogoAndOdd p, .displayTime p{
  margin: 5px 0;
}

.userDoubleInfo, .depositAndVerify{
  display: flex;
  align-items: center;
  gap: 20px;
}

.userDoubleInfo p{
  /* text-transform: uppercase; */
}

.userSingleInfo{
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-top: 20px;
}

.iconAndDetail{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.iconAndDetail p{
  margin-bottom: 0;
  /* text-transform: uppercase; */
}

.changePasswordTab{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-bottom: 20px;
}

.changePasswordButton{
  margin-left: 10px;
  cursor: pointer;
  color: #344767;
  border: 1px solid #344767;
  padding: 3px 10px;
}

.submitButton{
  all: unset;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.changePasswordTab input{
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
  margin: 5px 10px;
}

.msg{
  color: red;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 12px;
}

.successMsg{
  color: rgb(6, 179, 0);
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 12px;
}

.buttonload{
  display: flex;
  align-items: center;
  cursor: not-allowed;
  justify-content:center;
  gap: 3px;
}

.fotter{
  /* position: fixed;
  width: 100%;
  bottom: 0; */
}

/* MODAL */
.subModal{
  background-color: #fffffff1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
  color: #000000;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.disabledBtn{
  background: linear-gradient(to right, #b9eaff, #70acff) !important;
  cursor: not-allowed !important;
}

.fa-spinner{
  animation: button-anim 1s infinite linear;
}

.arbitrageCalculator{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.2);
  padding: 40px 20px;
}

.upperArbitrageCalculator{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.upperArbitrageCalculator .topHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topHeader p{
  text-align: center;
}

.singleBet p, .betInput p{
  margin-bottom: 0;
  width: 90%;
}

.singleBet{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 22px;
}

.betInput, .stakeInput, .payoutInput{
  text-align: center;
  width: 100%;
}

.betInput div{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.singleBet input, .betInput input{
  border: 1px solid #344767;
  padding: 7px 10px;
  outline: none;
}

.calculatedValue{
  padding: 7px 10px;
  width: 250px;
  height: 40px;
  background-color: rgb(217, 217, 217);
}

.lowerArbitrageCalculator{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.lowerArbitrageCalculator button{
  all: unset;
  border: 1px solid #344767;
  padding: 7px 12px;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s;
}

.lowerArbitrageCalculator button:hover{
  background-color: #344767;
  color: #fff;
  transition: .5s;
}

.finalCalculation div{
  padding: 12px;
  background-color: rgb(217, 217, 217);
  border-radius: 3px;
  margin: 10px 0;
  font-size: 18px;
}

.finalCalculation span{
  font-weight: bold;
}

@keyframes button-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 940px) {
  .singleBet,  .betInput div{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
  }

  .singleBet input, .betInput input{
    width: 100%;
  }

  .singleBet p{
    width: 100%;
  }

  .stakeP{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .lowerArbitrageCalculator{
    flex-direction: column;
    margin-top: 1rem;
  }

  .lowerArbitrageCalculator .controls{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

}

@media screen and (max-width: 678px) {

  
  .changePasswordTab{
    flex-direction: column;
    align-items: flex-start;
  }
  
}

@media screen and (max-width: 576px) {
  .userDoubleInfo{
    flex-direction: column;
  }

  .dropDowns{
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {

}

.arbs{
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.arbs td{
  display: block;
  padding: 2px 0;
}

/* Reset Password */

.passwordResetDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 40px 0;
  border-radius: 5px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.2);
}

.passwordResetDiv input{
  border: 1px solid #344767;
  width: 70%;
  margin-bottom: 20px;
  outline: none;
  padding: 5px 10px;
}

.resetPasswordBtn{
  all: unset;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  padding: 7px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.emailSuccess{
  text-align: center;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  margin: 0 20px 10px;
  padding: 7px;
  color: #155724;
  font-size: 15px;
}

.emailError{
  text-align: center;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  margin: 0 20px 10px;
  padding: 7px;
  color: #721c24;
  font-size: 15px;
}