@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: "Poppins";
}

html,
body {
  overflow-x: hidden;
  font-family: "Poppins";
}
a {
  text-decoration: none;
}
.css-kr8qto {
  display: none;
}

/*Styling Selectbox*/
select {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}

.dropDowns input{
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
  padding: 12px 5px;
  border: 1px solid #474747;
  outline: none;
}

.dropDowns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 2rem;
}

#root > div > header > div > div.MuiBox-root.css-1oamlbf > div.MuiBox-root.css-1b1knv > button > span{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 30px !important;
}

#bet_company, #percentFilter{
    border: 1px solid #808080;
    padding: 10px 3px;
    outline: none;
}

.userAndBalance{
  display: flex;
  align-items: center;
  gap: 10px;
}

.userAndBalance p{
  margin: 0;
}

.matchCard{
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);

}

.clubCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bettingPlatformCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 10px;
  /* margin-bottom: 10px; */
}

.bettingPlatformCard span{
  margin-left: 1rem;
}

.table>:not(caption)>*>*{
  border-bottom-width: 0;
  /* padding: 0 0.5rem; */
}


.table>:not(caption)>*>*:hover{
  background-color: none;
}

.clubCard p{
  margin: 0;
}

.clubLogoAndBetCompany{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.singleClub{
  text-align: center;
}

.singleClub img{
  width: 15%;
  margin-bottom: 5px;
}

.singleClub p{
  font-size: 14px;
}

.betPatform{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.time{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.time p{
  font-size: 14px;
}

.fa-calculator{
  font-size: 20px;
}

.subscription{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
}

.subscription img{
  width: 50px !important;
}

.makePayment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  padding: 3rem;
  border-radius: 10px;
}

.qrCode{
  padding: 1.5rem;
}

.addressAndCopy{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #344767;
  padding-right: 5px;
}

.addressAndCopy input{
  outline: none;
  padding: 5px 10px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #344767;
}

.addressAndCopy i{
  cursor: pointer;
  padding-right: 4px;
}

.makePaymentBottomText{
  margin-top: 30px;
}

.paymentPage{
  width: 100%;
  height: 100vh;
  position: relative;
}

.subscriptionPlans{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #9a9a9a;
  padding: 1.8rem 0;
  margin: 2rem 0;
  border-radius: 7px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
}

.second{
  border: 1px solid #217EFE;
}

.third{
  border: 1px solid #5829e8;
}

.subscriptionPlans h3{
  font-size: 20px;
}

.priceAndDuration{
  margin: 3rem 0;
}

.priceAndDuration h2{
  font-size: 60px;
  font-weight: bold;
}

.subscriptionPlans button{
  all: unset;
  width: 50%;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  padding: 7px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.topInputsAbitrage{
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 9rem;
}

.topInputsAbitrage select{
  width: 150%;
}

.topInputsAbitrage input{
  border: 1px solid #808080;
  padding: 10px 3px;
  outline: none;
  width: 180%;
}

.abitragePart{
  margin-top: 40px;
}

.abitrageOdds{
  display: flex;
  /* align-items: flex-end; */
  gap: 2rem;
  margin-top: 2rem;
}

.abitrageOdds input{
  padding: 7px 3px;
  border: 1px solid #808080;
}

.playingTeamOpportunity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #808080;
  margin-top: 10px;
}

.teamLogoAndOdd, .displayTime{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamLogoAndOdd p, .displayTime p{
  margin: 5px 0;
}

.userDoubleInfo, .depositAndVerify{
  display: flex;
  align-items: center;
  gap: 20px;
}

.userDoubleInfo p{
  /* text-transform: uppercase; */
}

.userSingleInfo{
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-top: 20px;
}

.iconAndDetail{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
}

.changePasswordTab{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-bottom: 20px;
}

.changePasswordButton{
  margin-left: 10px;
  cursor: pointer;
  color: #344767;
  border: 1px solid #344767;
  padding: 3px 10px;
}

.submitButton{
  all: unset;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.changePasswordTab input{
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
  margin: 5px 10px;
}

.msg{
  color: red;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 12px;
}

.successMsg{
  color: rgb(6, 179, 0);
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 12px;
}

.buttonload{
  display: flex;
  align-items: center;
  cursor: not-allowed;
  justify-content:center;
  gap: 3px;
}

.fotter{
  /* position: fixed;
  width: 100%;
  bottom: 0; */
}

@keyframes button-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 825px) {
  .abitrageOdds{
    gap: 5px;
  }

  .abitrageOdds p{
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 725px) {
  .abitrageOdds{
    flex-direction: column;
    align-items: flex-start;
  }

  .abitrageOdds input{
    width: 120%;
  }
}

@media screen and (max-width: 678px) {
  .topInputsAbitrage{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
  .changePasswordTab{
    flex-direction: column;
    align-items: flex-start;
  }
  
}

@media screen and (max-width: 576px) {
  .userDoubleInfo{
    flex-direction: column;
  }

  .dropDowns{
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .topInputsAbitrage input, .topInputsAbitrage select{
    width: 100%;
  }
}