html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
.css-kr8qto {
  display: none;
}

select {
  width: 50%;
}

#bet_company, #percentFilter{
    border: 1px solid #808080;
    padding: 10px 3px;
    outline: none;
}

.subscription{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
}

.subscription img{
  width: 50px !important;
}

.addressAndIcon{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #344767;
  padding-right: 5px;
}

.addressAndIcon input{
  outline: none;
  padding: 7px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #344767;
}

.addressAndIcon i{
  cursor: pointer;
}

.paymentPage{
  width: 100%;
  height: 100vh;
  position: relative;
}

.subscription button{
  all: unset;
  width: 100%;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  padding: 7px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.topInputsAbitrage{
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 9rem;
}

.topInputsAbitrage select{
  width: 150%;
}

.topInputsAbitrage input{
  border: 1px solid #808080;
  padding: 10px 3px;
  outline: none;
  width: 180%;
}

.abitrageOdds{
  display: flex;
  /* align-items: flex-end; */
  gap: 2rem;
  margin-top: 2rem;
}

.abitrageOdds input{
  padding: 7px 3px;
  border: 1px solid #808080;
}

.playingTeamOpportunity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #808080;
  margin-top: 10px;
}

.teamLogoAndOdd, .displayTime{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamLogoAndOdd p, .displayTime p{
  margin: 5px 0;
}

.userDoubleInfo, .depositAndVerify{
  display: flex;
  align-items: center;
  gap: 20px;
}

.userDoubleInfo p{
  /* text-transform: uppercase; */
}

.userSingleInfo{
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-top: 20px;
}

.iconAndDetail{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -5px;
}

.iconAndDetail p{
  margin-bottom: 0;
}

.changePasswordTab{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-bottom: 20px;
}

.changePasswordButton{
  margin-left: 10px;
  cursor: pointer;
  color: #344767;
  border: 1px solid #344767;
  padding: 3px 10px;
  margin-top: 10px;
}

.submitButton{
  all: unset;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.changePasswordTab input{
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
  margin: 5px 10px;
}

.msg{
  color: red;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 12px;
}

.successMsg{
  color: rgb(6, 179, 0);
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 12px;
}

.buttonload{
  display: flex;
  align-items: center;
  cursor: not-allowed;
  justify-content:center;
  gap: 3px;
}

.fotter{
  /* position: fixed;
  width: 100%;
  bottom: 0; */
}

@keyframes button-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 825px) {
  .abitrageOdds{
    gap: 5px;
  }

  .abitrageOdds p{
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 725px) {
  .abitrageOdds{
    flex-direction: column;
    align-items: flex-start;
  }

  .abitrageOdds input{
    width: 120%;
  }
}

@media screen and (max-width: 678px) {
  .topInputsAbitrage{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
  .changePasswordTab{
    flex-direction: column;
    align-items: flex-start;
  }
  
}

@media screen and (max-width: 576px) {
  .userDoubleInfo{
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .topInputsAbitrage input, .topInputsAbitrage select{
    width: 100%;
  }
}