html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
.css-kr8qto {
  display: none;
}

select {
  width: 50%;
}

#bet_company, #percentFilter{
    border: 1px solid #808080;
    padding: 10px 3px;
    outline: none;
}

.subscription{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
}

.subscription img{
  width: 50px !important;
}

.addressAndIcon{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #344767;
  padding-right: 5px;
}

.addressAndIcon input{
  outline: none;
  padding: 7px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #344767;
}

.addressAndIcon i{
  cursor: pointer;
}

.paymentPage{
  width: 100%;
  height: 100vh;
  position: relative;
}

.subscription button{
  all: unset;
  width: 100%;
  background: linear-gradient(to right, #21BBFE, #217EFE);
  color: #fff;
  padding: 7px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.topInputsAbitrage{
  width: 100%;
  display: flex;
  align-items: center;
}